/* app/globals.css */

/* Definição das cores Caliandra e Amarelo como variáveis CSS */
:root {
  --color-c: #D21B48; /* Caliandra Principal (Vermelho/Rosa) */
  --color-dark: #121212;    /* Preto Suave (Para Cards e Header) */
  --color-accent: #FFD700;  /* Amarelo (Destaques) */
  --color-text: #ffffff;    /* Texto Branco */
}

/* Aplicando o fundo Caliandra e texto branco ao corpo */
body {
  /* DEGRADÊ: Do Rosa Caliandra para um Tom Vinho Escuro */
  background: linear-gradient(180deg, #D21B48 0%, #58081c 100%);
  background-attachment: fixed; /* O fundo fica fixo ao rolar */
  min-height: 100vh;
  
  color: var(--color-text); /* Texto do corpo é branco */
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo para o container principal (centralização) */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Reset básico para links */
a {
  color: white; /* Cor dos links na navegação */
  text-decoration: none;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.8;
}

/* Estilo de lista para remover bullet points */
ul {
    list-style: none;
    padding: 0;
}